/*Общие стили*/

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;

	background: #849d8f;
}

body > input[type="radio"] {
	display: none;
}

.site_wrapper {
	min-width: 1200px;
	background: #849d8f url("../img/slide_1.png") no-repeat top center;
}

/*Шрифты*/

.header_bottom_line p {
	text-align: right;
}

.header_work_time {
	margin: 0;
	margin-bottom: 7px;

	font-size: 14px;
	line-height: 16px;
}

.header_phone {
	margin: 0;

	font-size: 22px;
	line-height: 24px;
}

.slide_title {
	margin: 0;
	margin-bottom: 27px;

	font-size: 60px;
	line-height: 60px;
}

.promo_title {
	margin: 0;
	margin-bottom: 16px;

	font-size: 35px;
	line-height: 41px;
	text-align: left;
}

.promo p {
	margin: 0;
	margin-bottom: 42px;

	font-size: 18px;
	line-height: 22px;
	text-align: left;
}

.item_price {
	padding-right: 35px;

	font-size: 45px;
	line-height: 45px;
	text-align: left;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);

	background: url("../img/rub_icon.svg") no-repeat 100% 11px;
}

.item_weight {
	font-size: 30px;
	line-height: 45px;
	text-align: left;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item_name {
	position: relative;
	z-index: 2;

	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.features_title {
	margin: 0;
	margin-bottom: 21px;

	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 500;
}

.features p {
	position: relative;

	width: 539px;
	margin: 0;
	margin-bottom: 20px;
	padding-left: 55px;

	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: 400;
}

.news p {
	margin: 0;

	font-size: 16px;
	line-height: 22px;
}

.news_item_left p {
	color: #323232;
	font-weight: 500;
}

.news_item_right p {
	margin-top: 10px;
	margin-bottom: 35px;

	color: #5a5a5a;
	font-weight: 400;
}

.feedback_form p {
	margin: 0;
	margin-bottom: 17px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.contacts p {
	color: #323232;
}

.contacts_first_title {
	margin: 0;
	margin-right: 100px;

	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.contacts_adress {
	margin: 0;
	margin-right: 25px;
	margin-bottom: 15px;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.contacts_second_title {
	margin: 0;
	margin-bottom: 5px;

	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.contacts_phone {
	margin: 0;

	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.contacts_work_time {
	margin: 0;
	margin-bottom: 22px;

	font-size: 14px;
	line-height: 22px;
}

.inner_page_title {
	margin: 0;
	margin-bottom: 25px;

	font-size: 35px;
	line-height: 41px;
}

.assortment p,
.assortment legend {
	margin: 0;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.assortment p {
	margin-bottom: 9px;
}

.assortment span {
	margin: 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
}

.main_footer p {
	margin: 0;

	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
}

/*Центровщик*/

.container {
	position: relative;

	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	box-sizing: border-box;
}

/*Кнопки*/

.btn {
	position: relative;

	display: inline-block;

	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;

	border-radius: 100px;
	background-image: linear-gradient(to top, #e74a35, #f26843); 
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	cursor: pointer;
}

.btn:hover {
	background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
	background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.login_form .btn {
	float: left;
	padding: 10px 25px;
	margin-right: 20px;
	margin-bottom: 5px;

	font-size: 18px;
	line-height: 24px;

	border: none;
	outline: none;
}

.slide .btn {
	padding: 10px 41px;

	font-size: 32px;
	line-height: 44px;
	text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);
}

.promo .btn {
	padding: 0 22px;
	padding-top: 12px;
	padding-bottom: 10px;
	margin-bottom: 21px;
}

.news .btn {
	padding: 10px 20px;

	border: none;
	outline: none;
}

.feedback_form .btn {
	margin-left: 285px;

	border: none; 
}

.feedback_form_close {
	position: absolute;
	top: 11px;
	right: 15px;

	width: 20px;
	height: 20px;

	background: #f8f7f4;
	border: none;
	cursor: pointer;
}

.feedback_form_close::before {
	content: "";
	position: absolute;
	top: 0;
	width: 1px;
	height: 20px;

	background: #323232;
	transform: rotate(45deg);
}

.feedback_form_close::after {
	content: "";
	position: absolute;
	top: 0;
	width: 1px;
	height: 20px;

	background: #323232;
	transform: rotate(135deg);
}

.contacts .btn {
	padding: 9px 26px;
}

.assortment button {
	margin-left: 15px;
	padding: 9px 29px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;

	background: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 30px;
	cursor: pointer;
}

.assortment button:hover {
	color: #323232;

	background: #ffffff;
}

.assortment button:active {
	color: #323232;

	background: #eaeaea;
	border: 2px solid #eaeaea;
	outline: none;
	box-shadow: inset 0px 2px 1px 0px #696969;
}

/*Ссылки*/

/*Сылки меню пользователя*/

.login_link,
.search_link,
.full_cart_link,
.cart_link {
	position: relative;

	display: inline-block;
	padding-top: 9px;
	padding-bottom: 7px;
	padding-right: 16px;
	padding-left: 44px;
	margin-right: 10px;

	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
}

.full_cart_link,
.cart_link {
	margin-right: 0;
}

.search_link {
	width: 33px;
	height: 33px;
	margin: 0;
	margin-bottom: 5px;
	margin-right: 10px;
	padding-left: 0;

	font-size: 0;

	border-radius: 50px;
}

.search_link::before {
	content: "";
	position: absolute;
	left: 7px;

	width: 18px;
	height: 17px;

	background: url("../img/sprite.png") no-repeat 0 -26px;
}

 .login_link::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;

	width: 22px;
	height: 20px;

	background: url("../img/sprite.png") no-repeat 0 -4px;
}

.cart_link::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;

	width: 22px;
	height: 20px;

	background: url("../img/sprite.png") no-repeat 0 -46px;
}

.full_cart_link {
	color: #323232;

	background: #f7f6f3;
}

.full_cart_link::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;

	width: 22px;
	height: 20px;

	background: url("../img/sprite.png") no-repeat 0 -69px;
}

/*Сылки меню пользователя при наведении*/

.search_link:hover,
.login_link:hover {
	color: #323232;

	background: #f8f7f4;
}

.search_link:hover:before {
	content: "";
	position: absolute;
	top: 6px;
	left: 7px;

	width: 18px;
	height: 17px;

	background: url("../img/sprite.png") no-repeat 1px -455px;
}

.login_link:hover:before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;

	width: 22px;
	height: 20px;

	background: url("../img/sprite.png") no-repeat 0 -478px;
}

/*Ссылки навигации*/

.main_navigation a {
	display: block;
	padding: 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

.main_menu_item > a {
	display: block;
	padding: 8px 15px;

	border-radius: 30px;
}

.main_menu_item > a:hover {
	color: #333333;

	background-color: #fafafa;  
}

.main_menu_item > a:active {
	color: #333333;

	background-color: #ededed;
	box-shadow: inset 0px 2px 1px #696969;
}

.main_menu_item span.underlined {
	border-bottom: 1px solid rgba(255,255,255,.3);
}

a.current span.underlined,
a:hover span.underlined,
a:active span.underlined {
	border: none;
}

/*Стили для активной ссылки главного меню*/

.main_menu_current {
	background: #d07058;
}

.main_menu_item .main_menu_current:hover,
.main_menu_item .main_menu_current:active {
	color: #ffffff;

	background: #d07058;
	box-shadow: none;
}

/*Ссылки подменю*/

.sub_nav a {
	display: block;
	margin: 0 5px;
	padding: 8px 15px 7px;

	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	white-space: nowrap;
	color: #323232;
}

.sub_nav a.sub_news {
	padding-bottom: 12px;
	padding-top: 9px;

	font-weight: 700;

	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

/*Стили для активной ссылки подменю*/

.sub_nav .current {
	color: #ffffff;

	background-color: #d07058;
}

.sub_nav .current:hover,
.sub_nav .current:active {
	color: #ffffff;

	background-color: #d07058;
}

.current a {
	color: #ffffff;
}

/*Ссылки формы входа*/

.login_form a {
	padding: 0;

	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	text-decoration: underline;
	vertical-align: top;
}

.login_form a:hover,
.login_form a:active {
	color: #e84d37;
}

/*Прочие ссылки*/

.catalog_item a {
	color: #ffffff;
	text-decoration: none;
}

.news_item_left a {
	display: inline-block;
	padding-right: 255px;

	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 700;
	vertical-align: middle;
}

.news_item_left a:hover, 
.news_item_left a:active {
	color: #e84d37;
}

.breadcrumbs a {
	position: relative;

	display: inline-block;
	margin-right: 20px;

	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a::after {
	content: "»";
	position: absolute;
	top: 0;
	right: -13px;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
	color: #ffbc9e;
}

.main_footer a {
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
}

.social_btn {
	position: relative;

	display: inline-block;
	width: 38px;
	height: 38px;
	margin-right: 8px;

	font-size: 0;
	vertical-align: top;

	background: url("../img/sprite.png") no-repeat;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	opacity: 0.8;
}

.social_btn:last-child {
	margin: 0;
}

.social_btn_tw {
	background-position: -1px -92px;
}

.social_btn_inst {
	background-position: -1px -127px;
}

.social_btn_fb {
	background-position: -1px -162px;
}

.social_btn_vk {
	background-position: -1px -197px;
}

.social_btn:hover {
	opacity: 1;
}

.social_btn:active {
	box-shadow: inset 0px 2px 1px 0px #888888;
	opacity: 0.8;
}

.footer_about_us a {
	font-size: 13px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer_about_us a:hover,
.footer_about_us a:active {
	color: #ffbc9e;
}

.copyright_link {
	border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}

.copyright_link:hover,
.copyright_link:active {
	color: #ffbc9e;
}

/*Общие стили блоков*/

/*Стили для шапки*/

.main_header {
	padding-top: 9px;
}

/*Верхняя линяя шапки*/

.header_top_line {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/*Навигация*/

.navigation_block {
	display: flex;
}

/*Главное меню*/

.main_menu {
	display: flex;
	margin: 0;
	margin-left: 24px;
	margin-top: 10px;
	padding: 0;

	font-size: 0;

	list-style: none;
}

.main_navigation li {
	position: relative;

	display: inline-block;
	padding: 0 0 10px;

	vertical-align: top;
}

.main_menu_current span.underlined {
	text-decoration: none;

	border-bottom: none;
}

/*Подменю*/

.main_menu_item:hover ul.sub_nav {
	display: block;
}

.sub_nav {
	position: absolute;
	top: 40px;
	z-index: 10;

	display: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	background: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.sub_nav li {
	display: block;
	margin: 0;
	padding: 0;
}

.sub_nav li:hover {
	background: #fbded8;
}

.sub_nav li:active {
	background: #f6b5a5;
}

.sub_nav .sub_main:hover {
	background:  #f8f7f4;
}

/*Меню пользователя*/

.user_block {
	position: relative;

	display: flex;
	align-items: flex-start;

	margin-right: 5px;
	margin-top: 10px;

	font-size: 0;
}

.user_block div {
	padding-bottom: 10px;
}

/*Форма поиска*/

.search:hover .search_form {
	display: block;
}

.search_form {
	position: absolute;
	bottom: -68px;
	right: 240px;
	z-index: 10;

	display: none;
	min-width: 340px;
	padding: 20px 15px;

	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search_form input {
	width: 100%;
	padding: 10px 0;
	padding-left: 15px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #999999;

	border: 1px solid #d3d3d2;
	border-radius: 5px;
	outline: none;
}

/*Форма входа*/

.login:hover .login_form {
	display: block;
}

.login_form {
	position: absolute;
	top: 36px;
	right: 138px;
	z-index: 10;

	display: none;
	min-width: 277px;
	padding: 20px;
	padding-right: 15px;
	
	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login_form input {
	width: 100%;
	margin-bottom: 21px;
	padding: 7px 0;
	padding-bottom: 9px;
	padding-left: 15px;

	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	font-family: "Roboto", "Arial", sans-serif;

	border: 1px solid #d3d3d2;
	border-radius: 5px;
	outline: none;
}

/*Корзина*/

.cart:hover .cart_items {
	display: block;
}

.cart_items  {
	position: absolute;
	right: 0;
	top: 36px;
	z-index: 10;

	display: none;
	min-width: 540px;
	padding: 20px 14px;
	padding-left: 17px;

	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color:  #323232;

	border-radius: 5px;
	border-collapse: separate;

	background: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart_items td {
	vertical-align: top;
}

.cart_items .first_row {
	height: 53px;
}

.cart_items .second_row {
	height: 59px;
}

.cart_items .total_row {
	height: 40px;
}

.cart_items td:nth-of-type(1) {
	width: 24px;
}

.cart_items td:nth-of-type(2) {
	padding-bottom: 15px;
} 

.cart_items td:nth-of-type(3) {
	width: 261px;
	padding-top: 7px;
	padding-left: 13px;
}

.cart_items td:nth-of-type(4) {
	width: 122px;
	padding-top: 7px;
}

.cart_items td:nth-of-type(5) {
	width: 70px;
	padding-top: 7px;
}

.cart_items .cross_btn {
	position: relative;
	width: 10px;
	height: 10px;

	background: #f8f7f4;
	border: none;
	cursor: pointer;
}

.cart_items .cross_btn::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;

	width: 1px;
	height: 10px;

	background: #323232;
	transform: rotate(45deg);
}

.cart_items .cross_btn::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;

	width: 1px;
	height: 10px;

	background: #323232;
	transform: rotate(135deg);
}

.cart_total {
	padding-top: 15px;

	text-align: right;
	font-weight: 700;

	border-top: 1px solid #cacac7;
}

.cart_order {
	text-align: right;
}

.cart .btn {
	padding: 10px 16px;
}

.cart_price {
	color: #999999;
}


/*Слайдер*/

.slider {
	position: relative;
	padding-top: 280px;
	margin-bottom: 40px;

	text-align: center;
}

.slide {
	display: none;
	padding: 0 220px;
}

.slider_controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 20;

	font-size: 0;
}

.slider_controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#slide_btn_1:checked ~ .site_wrapper #slide_1,
#slide_btn_2:checked ~ .site_wrapper #slide_2,
#slide_btn_3:checked ~ .site_wrapper #slide_3 {
	display: block;
}

#slide_btn_1:checked ~ .site_wrapper {
	background: #849d8f url("../img/slide_1.png") no-repeat top center;
}

#slide_btn_2:checked ~ .site_wrapper {
	background: #8996a6 url("../img/slide_2.png") no-repeat top center;
}

#slide_btn_3:checked ~ .site_wrapper {
	background: #9d8b84 url("../img/slide_3.png") no-repeat top center;
}

#slide_btn_1:checked ~ .site_wrapper label[for="slide_btn_1"],
#slide_btn_2:checked ~ .site_wrapper label[for="slide_btn_2"],
#slide_btn_3:checked ~ .site_wrapper label[for="slide_btn_3"] {
	background-color: #ffffff;
}

/*Промо блок*/

.promo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 40px;
}

.promo_item_left,
.promo_item_right {
	width: 560px;
	padding: 0 19px;
	padding-top: 16px;

	text-align: right;
}

.promo_item_left {
	background: url("../img/promo_1.png") 50% no-repeat;
	background-size: cover;
	border-radius: 16px;
}

.promo_item_right {
	background: url("../img/promo_2.png") 50% no-repeat;
	background-size: cover;
	border-radius: 16px;
}

/*Хиты продаж*/

.best_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog_item {
	position: relative;

	width: 267px;
	margin-bottom: 40px;

	text-align: center;
}

.catalog_item img {
	position: relative;

	margin-bottom: 5px;
}

.catalog_item .item_price_weight {
	position: absolute;
	top: 211px;
	z-index: 3;

	text-align: left;
}

.best_items .catalog_item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;

	width: 61px;
	height: 61px;

	background: url("../img/best_item_mark.jpg") no-repeat;
	border-radius: 50%;
}

.catalog_item .btn {
	display: none;
}

.catalog_item_hover {
	position: absolute;
	top: -5px;
	right: -13px;
	z-index: 1;

	width: 294px;
	min-height: 405px;
	display: none;

	background: rgba(255, 255, 255, 0.3);
	box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.catalog_item .btn {
	top: 335px;

	display: inline-block;
	margin: 0;
	padding: 15px;
}

.catalog_item:hover .catalog_item_hover {
		display: block;
}

.catalog_item:hover img {
	position: relative;
	z-index: 2;
}

.catalog_item:hover .item_name {
	border: none;
}

/*Преимущества*/

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 0 20px;
	padding-top: 22px;
	padding-bottom: 5px;

	background: url("../img/features_pattern.jpg");
	border-radius: 15px;
}

.features p::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;

	width: 49px;
	height: 49px;
}

.features_technology::before {
	background: url("../img/sprite.png") no-repeat 0 -248px;
}

.features_partners::before {
	background: url("../img/sprite.png") no-repeat 0 -352px;
}

.features_ingredient::before {
	background: url("../img/sprite.png") no-repeat 0 -300px;
}

.features_delivery::before {
	background: url("../img/sprite.png") no-repeat 0 -404px;
}

/*Новости*/

.news {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 40px;
	padding-top: 23px;
}

.news_item_left,
.news_item_right {
	width: 560px;

	border-radius: 16px;
}

.news_item_left {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 80px;

	background: url("../img/news_1.jpg") no-repeat;
	background-size: cover;
}

.news_item_right {
	background: #f8f7f4 url("../img/subscribe_pattern.png");
}

.news_item_right_wrapper {
	margin: 5px;
	padding: 0 20px;
	padding-top: 18px;

	border-radius: 16px;
	background: #f8f7f4;
	background-size: cover;
}

.subscribe {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 35px;
}

.subscribe input {
	flex-grow: 1;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 9px;
	padding-left: 10px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;

	border: 1px solid #d3d3d2;
	border-radius: 3px;
	outline: none;
}

/*Карта*/

.map_and_contacts {
	min-height: 430px;
	padding: 62px 0;

	background: url("../img/map.png") no-repeat center;
}

.contacts {
	position: absolute;
	right: 27px;

	width: 302px;
	margin: 0;
	padding: 0 25px;
	padding-top: 25px;
	padding-bottom: 29px;

	background: #fffefe;
	border-radius: 15px;
}

/*Форма обратной связи */

.feedback {
	position: fixed;
	top: 340px;
	left: 50%;
	z-index: 30;

	display: none;
	width: 478px;
	margin-left: -239px;
	padding: 0 25px;
	padding-top: 15px;
	padding-bottom: 25px;

	background: #f8f7f4;
	border-radius: 10px;
}

.feedback_form input {
	min-width: 270px;
	margin-bottom: 20px;
	padding-left: 13px;
	padding-top: 9px;
	padding-bottom: 8px;

	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	font-family: "Roboto", "Arial", sans-serif;

	border: 1px solid #999999;
	border-radius: 5px;
	outline: none;
}

.feedback_form textarea {
	width: 100%;
	min-height: 155px;
	padding-left: 13px;
	padding-top: 9px;
	margin-bottom: 17px;

	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	font-family: "Roboto", "Arial", sans-serif;

	border: 1px solid #999999;
	border-radius: 5px;
	outline: none;
}

/*Хлебные крошки*/

.breadcrumbs {
	position: absolute;
	top: -20px;

	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.breadcrumbs li {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 400;
}

/*Форма с фильтром*/

.filter {
	margin-bottom: 40px;
}

.assortment {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.assortment fieldset {
	border: none;
}

.assortment_sort p {
	position: absolute;
	top: 0;
	left: 13px;
}

/*Селект*/

.assortment_select {
	margin-right: 16px;
}

.select_outer {
	position: relative;

	width: 194px;	
	min-height: 36px;

	overflow: hidden;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}

.select_inner {
	position: relative;
	z-index: 100;

	width: 194px;
	min-height: 36px;
	padding: 5px 16px;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	
	cursor: pointer;
	background: none;
	outline: none;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
}

.select_inner::-ms-expand {
	display: none;
}

.select_inner option {
	color: #323232;

	outline: none;
	border: none;
	outline-offset: 0;
}

.select_button {
	position: absolute;		
	right: 15px;
	top: 50%;
	z-index: 50;

	border: 4px solid transparent;
	border-top: 4px solid #ffffff;
}

.select_outer:hover {
	background: rgba(255, 255, 255, 1);
}

.select_outer:hover .select_inner {
	color: #323232;
}

.select_outer:hover .select_button {
	border-top-color: #333333;
}

/*Фильтр*/

.range_filter {
	position: relative;

	width: 220px;
	margin-right: 16px;
}

.price_controls {
	font-size: 0;
}

.price_controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.price_controls span {
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.price_controls input {
	width: 25px;
	margin-left: 4px;

	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;

	background: none;
	border: none;
	outline: none;
}

.max_price {
	margin-right: 0;

	text-align: right;
}

.range_controls {
	position: relative;

	min-height: 36px;
	padding-top: 16px;
	padding-right: 15px;
	padding-left: 15px;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}

.range_controls .scale {
	position: relative;

	height: 4px;

	background: rgba(248, 247, 244, 0.5);
}

.range_controls .bar {
	position: absolute;
	left: 40px;

	width: 89px;
	height: 4px;

	background: #f8f7f4;
}

.range_controls .toggle {
	position: absolute;
	top: 8px;
	left: 0px;

	width: 20px;
	height: 20px;

	background: #f8f7f4;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.range_controls .toggle_min {
	left: 45px;
}

.range_controls .toggle_max {
	left: 143px;
}

/*Жирность*/

.assortment_fat {
	width: 415px;
	min-height: 36px;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}

.assortment_fat legend {
	position: absolute;
	top: 2px;
}

.assortment_fat input {
	margin-right: 17px;

	opacity: 0;
}

.assortment_fat label {
	position: relative;
}

.assortment_fat label::before,
.assortment_fat label::after {
	position: absolute;

	cursor: pointer;
}

.assortment_fat label::before {
	content: "";
	top: 0;
	left: -31px;
 
	display: inline-block; 
	width: 22px;
	height: 22px;
	
	border: 1px solid #f8f7f4;
	border-radius: 50%;
}

.assortment_fat input:checked + label::after {
	content: "";
	top: 6px;
	left: -25px;
	
	display: inline-block; 
	width: 10px;
	height: 10px;
	
	background: #f8f7f4;
	border-radius: 50%;
}

.assortment_fat input:checked + label::before {
	border: 2px solid #f8f7f4;
}

.assortment_fat input:hover + label::before {
	border: 2px solid #f8f7f4;
}

.assortment_fat input[disabled] + label::before {
	border: 1px solid rgba(248, 247, 244, 0.4); 
}

.assortment_fat input[disabled] + label::after {
	background: rgba(248, 247, 244, 0.4);
}

/*Добавки*/

.assortment_topping {
	margin-top: 40px;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}

.assortment_topping legend {
	position: absolute;
	top: 78px;
}

.assortment_topping input {
	margin-right: 17px;

	opacity: 0;
}

.assortment_topping label{
	position: relative;

	margin-right: 16px;
}

.assortment_topping label::before,
.assortment_topping label::after {
	position: absolute;

	cursor: pointer;
}

.assortment_topping label::before{
	content: "";
	top: 3px;
	left: -32px;

	display: inline-block;
	height: 20px;
	width: 20px;

	border: 1px solid #ffffff;   
}

.assortment_topping label::after {
	content: "";
	left: -27px;
	top: 7px;

	display: inline-block;
	height: 8px;
	width: 11px;

	border-left: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	transform: rotate(-45deg);
}

.assortment_topping input + label::after {
	content: none;
}

.assortment_topping input:checked + label::after {
	content: "";
}

.assortment_topping input:checked + label::before {
	border: 2px solid #ffffff; 
}

.assortment_topping input:hover + label::before {
	border: 2px solid #ffffff; 
}

.assortment_topping input[disabled] + label::before {
	border: 1px solid rgba(255, 255, 255, 0.4); 
}

.assortment_topping input[disabled] + label::after {
	border-left: 3px solid rgba(255, 255, 255, 0.4);
	border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

/*Каталог*/

.catalog_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

/*Пагинация*/

.pagination {
	padding-bottom: 30px;

	text-align: right;

	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination a {
	display: inline-block;
	width: 27px;
	height: 27px;
	margin-left: 3px;
	padding: 3px 0;

	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;

	border-radius: 50%;
}

.pagination .previous {
	width: 8px;
	height: 8px;
	margin-right: 8px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-right: none;
	border-top: none;
	border-radius: 0;
	transform: rotate(45deg);
	opacity: 0.2;
}

.pagination .next {
	width: 8px;
	height: 8px;
	margin-left: 10px;
	margin-right: 2px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-left: none;
	border-bottom: none;
	border-radius: 0;
	transform: rotate(45deg);
}

.pagination .pagination_active {
	color: #323232;

	background: #ffffff;
}

.pagination a:hover {
	background: rgba(255, 255, 255, 0.2);
}

.pagination .pagination_active:hover {
	background: #ffffff;
}

.pagination a:active {
	color: #323232;

	background: #ffffff;
}

.pagination .previous:hover,
.pagination .previous:active,
.pagination .next:hover,
.pagination .next:active {
	background: none;
}

/*Подвал*/

.main_footer {
	padding-bottom: 25px;
}

.footer_wrapper {
	display: flex;
}

.footer_socials {
	margin-right: 237px;
	padding-top: 35px;
}

.footer_about_us {
	position: relative;
}

.footer_about_us ul {
	width: 326px;
	margin: 0;
	padding: 0;
	padding-top: 30px;

	font-size: 0;
}

.footer_about_us li {
	display: inline-block;
	width: 43%;
}

.footer_about_us li:last-child {
	width: 50%;
}

.footer_about_us::before {
	content: "";
	position: absolute;
	left: -21px;
	top: 34px;

	width: 16px;
	height: 16px;

	background: url("../img/sprite.png") no-repeat 0 -232px;
}

.footer_copyright {
	margin-left: 205px;
	padding-top: 20px;
}


